:root {
  --bg-color: #ededed;
  --font-color: #1f1f1f;
}

@font-face {
  font-family: Inter;
  src: url('../fonts/Inter-Regular.woff2') format('woff2');
}

@font-face {
  font-family: Inter-Bold;
  src: url('../fonts/Inter-Bold.woff2') format('woff2');
}

*,
*::after,
*::before {
  box-sizing: border-box;
}

body {
  background-color: var(--bg-color);
  color: var(--font-color);
  font-family: Inter, Arial, Helvetica, sans-serif;
  font-size: 16px;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

#header header {
  display: flex;
  align-items: center;
  justify-content: space-around;
}

#header img {
  width: 40px;
  height: 40px;
  border-radius: 50%;
}

#header h1 {
  font-family: Inter-Bold;
  font-size: 2.5rem;
  text-align: center;
}

.tasks-list {
  background-color: green;
  display: flex;
  flex-wrap: wrap;
  padding: 20px;
  gap: 10px;
}

.card {
  padding: 20px;
  border: 1px solid red;
  border-radius: 6px;
  width: 170px;
}

#footer {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
}

#footer p {
  text-align: center;
}

#footer a {
  color: inherit;
  text-decoration: none;
}

#footer a:hover {
  text-decoration: underline;
  text-underline-offset: 2px;
}
